
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="~/Content/stylish-portfolio.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

</head>

<body>


    @Html.ActionLink("LEARNIT", "Index", "Home", null, new { @class = "logo-catal", @id = "logo-menu" })


    <!-- Fixed top Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    @Html.ActionLink("Find more courses", "Catalog", "BrowseCatalog", null, new { @id = "menu", @class ="browse-us" })
    <a id="menu" class="create-course-btn" data-toggle="modal" data-target="#crete-course-btn"><i></i>Create course</a>
    <!-- End of fixed top Navigation -->

    <!-- Static right menu -->
    <nav id="sidebar-wrapper" class="bar">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"></a>
            <li class="sidebar-brand">
                @Html.ActionLink("LEARNIT", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Browse Catalog", "Catalog", "BrowseCatalog")
            </li>
            <li>
                @Html.ActionLink("LEARNIT", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Log out", "Index", "Home")
            </li>
        </ul>
    </nav>
    <!-- end Static right menu -->

    <!-- Modal  windows-->
    <div id="add-about-user" class="modal fade" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3 id="sendUs">Add information</h3>
        </div>
        <div class="modal-body">
            <form class="contact" name="contact">

                <label id="myLabel" class="label" for="name">Your name</label><br>
                <input type="text" name="name" class="form-control"><br>

                <label id="myLabel" class="label" for="name">Your location</label><br>
                <input type="email" name="email" class="form-control"><br>

                <label id="myLabel" class="label" for="name">Your website</label><br>
                <input type="email" name="email" class="form-control"><br>

                <label id="myLabel" class="label" for="message">Tell about yourself</label><br>
                <textarea rows="5" style="width: 300px;" name="message" class="form-control"></textarea><br>

                <label id="myLabel" class="label" for="message">Upload a photo</label><br>
                <input type="file" style="margin-left: 10px; margin-top: 3px;" name="file" />

            </form>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Submit" id="submit" style="font-size: 27px;">
            <a href="#" id="cancelbt" class="btn" data-dismiss="modal" style="color: white; font-weight: 700; ">Cancel</a>
        </div>
    </div>

    <div id="crete-course-btn" class="modal fade" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3 id="sendUs">Add information</h3>
        </div>
        <div class="modal-body">
            <form class="contact" name="contact">

                <label id="myLabel" class="label" for="name">Name</label><br>
                <input type="text" name="name" class="form-control"><br>

                <label id="myLabel" class="label" for="name">Category</label><br>
                <input type="email" name="email" class="form-control"><br>

                <label id="myLabel" class="label" for="name">Subcategory</label><br>
                <input type="email" name="email" class="form-control"><br>

                <label id="myLabel" class="label" for="message">About this course</label><br>
                <textarea rows="7" style="width: 300px;" name="message" class="form-control"></textarea><br>

                <label id="myLabel" class="label" for="message">Upload a photo</label><br>
                <input type="file" style="margin-left: 10px; margin-top: 3px;" name="file" />

            </form>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Create!" id="submit" style="font-size: 27px;">
            <a href="#" id="cancelbt" class="btn" data-dismiss="modal" style="color: white; font-weight: 700; ">Cancel</a>
        </div>
    </div>
    <!-- end of Modal  windows-->


    @RenderBody();


    <!-- footer -->
    <footer>
        <div style="cursor: default" class="col-lg-10 col-lg-offset-1 text-center" id="catal-footer">
            <h2>
                @Html.ActionLink("LEARNIT", "Index", "Home", null, new { @style = "text-decoration:none;" })
            </h2>
            <p>Moscow Kremlin<br>Russia</p>
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-envelope-o fa-fw"></i>  <a style="text-decoration: none" href="mailto:vera_khatskevich@yahoo.com">vera_khatskevich@yahoo.com</a>
                </li>
            </ul>
            <hr>
            <p class="text-muted">Copyright LEARNIT 2015</p>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.4.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Customs JavaScript -->
    <script src="~/Scripts/myscripts.js"></script>

</body>
</html>

