@model IEnumerable<LEARNIT.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Filter Courses by category</h2>




@using (Html.BeginForm())
            {
    <div style="width: 250px; height: 46px; border-radius:8px; border-color: 2px solid #AAAAAA; margin-left: 41%; margin-bottom: 7%;">
        @Html.DropDownList("SelectedCategory", "All")
        <span style="margin-left:20%;"><input style=" margin-top: 7%" type="submit" value="Filter"></span>
    </div>
}

<h3 style="vertical-align: middle; text-align:center">
    Courses: <strong>@ViewBag.Courses</strong> <br />
    Teachers: <strong>@ViewBag.Teachers</strong><br />
    Categories: <strong>@ViewBag.Categories</strong><br />
    Subscriptions: <strong>@ViewBag.Subscriptions</strong><br />
    Subscribers: <strong>@ViewBag.Subscribers</strong><br />
</h3>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo.PhotoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseAbout)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
             <img src="@Url.Content(Request.Url.GetLeftPart(UriPartial.Authority))/Upload/Photo/@Html.DisplayFor(modelItem => item.Photo.PhotoNameOnServer)" alt="" height="100px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseAbout)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseID })
        </td>
    </tr>
}

</table>
