@model LEARNIT.Models.Course
@{
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
}

<section  id="my">
    <header id="header" >
        <a href="#" class="image avatar"><img src="@Url.Content(Request.Url.GetLeftPart(UriPartial.Authority))/Upload/Photo/@Html.DisplayFor(model => model.Photo.PhotoNameOnServer)" height="100px" /></a>
        <h1>By teacher<strong><a></a></strong></h1>

        <div class="vert-menu-course-name">
            <h1 class="user-name-area">
                <span class="user-full-name">
                    <a href="/teacher/details/@Html.DisplayFor(model => model.Teacher.TeacherID)">@Html.DisplayFor(model => model.Teacher.TeacherName)</a>
                </span>
                <span class="username"></span>
            </h1>
            <ul class="user-info">
                <li class="data-detail">
                    <span class="data-icon"></span>
                    <span class="joined-data"></span>On Air since
                    <time>@Html.DisplayFor(model => model.StartDate)</time>
                </li>
                <li class="data-detail">
                    <span class="location-icon"></span>
                    <span class="joined-data"></span>Course Category
                    <p><a href="/category/details/@Html.DisplayFor(model => model.Teacher.TeacherID)">@Html.DisplayFor(model => model.Category.CategoryName)</a></p>
                </li>
                </ul>
        </div>

    </header>


    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>
                    <br />
                    @Html.DisplayFor(model => model.CourseName)
            
                </h2>
            </header>
            <p></p>
        </section>

        <!-- Two -->
        <section id="two">
            @Html.DisplayFor(model => model.CourseAbout)
            <div class="row">
               @Html.ActionLink("Sibscribe!", "Create", "Subscriber", null, new { @id = "sibsribe-btn" }) 
               @*<span id="sibsribe-btn"><input type="submit" value="Sibscribe!"></span>*@
            </div>
            <ul class="actions"></ul>
        </section>
    </div>
</section>