@model LEARNIT.Models.Course
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<!--Static right menu -->
<nav id="sidebar-wrapper" class="bar">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            @Html.ActionLink("LEARNIT", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Search Course", "Index", "Course")
        </li>
        <li>
            <a href="#contacts-mark" onclick=$("#menu-close").click();>Contacts</a>
        </li>
    </ul>
</nav>
<!-- end Static right menu -->
<!-- Header -->

<section  id="my">
    <header id="header" >
        <a href="#" class="image avatar"><img src="@Url.Content(Request.Url.GetLeftPart(UriPartial.Authority))/Upload/Photo/@Html.DisplayFor(model => model.Photo.PhotoNameOnServer)" height="100px" /></a>
        <h1>By teacher<strong><a></a></strong></h1>

        <div class="vert-menu-course-name">
            <h1 class="user-name-area">
                <span class="user-full-name">
                    <a href="/teacher/details/@Html.DisplayFor(model => model.Teacher.TeacherID)">@Html.DisplayFor(model => model.Teacher.TeacherName)</a>
                </span>
                <span class="username"></span>
            </h1>
            <ul class="user-info">
                <li class="data-detail">
                    <span class="data-icon"></span>
                    <span class="joined-data"></span>On Air since
                    <time>@Html.DisplayFor(model => model.StartDate)</time>
                </li>
            </ul>
        </div>

    </header>


    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>
                    <br />
                    @Html.DisplayFor(model => model.CourseName)
            
                </h2>
            </header>
            <p></p>
        </section>

        <!-- Two -->
        <section id="two">
            @Html.DisplayFor(model => model.CourseAbout)
            <div class="row">
               @Html.ActionLink("Sibscribe!", "Create", "Subscriber", null, new { @id = "sibsribe-btn" }) 
               @*<span id="sibsribe-btn"><input type="submit" value="Sibscribe!"></span>*@
            </div>
            <ul class="actions"></ul>
        </section>
    </div>
</section>


<footer id="main-footer">
    <hr />
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>
            @Html.ActionLink("LEARNIT", "Index", "Home", null, new { @style = "text-decoration:none;" })
        </h2>
        <p>Moscow Kremlin<br>Russia</p>
        <ul class="list-unstyled" id="contacts-mark">
            <li>
                <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:vera_khatskevich@yahoo.com">vera_khatskevich@yahoo.com</a>
            </li>
        </ul>
        <br>
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/vera.khatskevich1"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.come/veralady"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="https://www.github.com/verakh"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
            </li>
        </ul>
        <p class="text-muted">Copyright LEARNIT 2015</p>
    </div>
</footer>