@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

        <ul class="nav navbar-nav" style="color: #585858;">
            <li>@Html.ActionLink("Courses by Category", "AdminByCategory", "Course")</li>
            <li>@Html.ActionLink("Courses by Name", "AdminByName", "Course")</li>
            <li>@Html.ActionLink("Courses by Teacher", "AdminByTeacher", "Course")</li>
            <li>@Html.ActionLink("Scientific Fields", "Index", "Field")</li>
            <li>@Html.ActionLink("Categories", "Index", "Category")</li>
            <li>@Html.ActionLink("Teachers", "Index", "Teacher")</li>
            <li>@Html.ActionLink("Subscribers", "Index", "Subscriber")</li>
            <li>@Html.ActionLink("Subscriptions", "Index", "Subscription")</li>
            <li>@Html.ActionLink("Photos", "Index", "Photo")</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>

 
}
