

@{
    Layout = "~/Views/Shared/_CategoryPageLayout.cshtml";
    ViewBag.Title = "Business";
}


<header class="header-catal" id="header-catalog-list">
    <div class="main-cont">
        <div class="catalog-list-div">
            @Html.ActionLink("Humanities and Fine Art", "HunanitiesAndFineArt", "BrowseCatalog", new { @class = "categories-links"})
            @Html.ActionLink("Business", "Business", "BrowseCatalog", new { @class = "categories-links", @id = "humanities-highlight" })
            @Html.ActionLink("Computer Science", "ComputerScience", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Medicine And Biology", "MedicineAndBiology", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Maths And logic", "MathsAndlogic", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Physics And Engeneering", "PhysicsAndEngeneering", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Social Science", "SocialScience", "BrowseCatalog", new { @class = "categories-links" })
        </div>
    </div>
</header>

<div class="main-area-for-course-form">
    <div class="filter-list">
        <ul>
            <li><a href="#">Lidership and Management</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Entrepreneurship</a></li>
            <li><a href="#">The way of business</a></li>
            <li><a href="#">Business stratagies</a></li>
        </ul>
    </div>
