@{
    Layout = "~/Views/Shared/_CategoryPageLayout.cshtml";
    ViewBag.Title = "Humanities and Fine Art";
}


<header class="header-catal" id="header-catalog-list">
    <div class="main-cont">
        <div class="catalog-list-div">
            @Html.ActionLink("Humanities and Fine Art", "HunanitiesAndFineArt", "BrowseCatalog",new { @class = "categories-links", @id = "humanities-highlight" })
            @Html.ActionLink("Business", "business", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Computer Science", "ComputerScience", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Medicine And Biology", "MedicineAndBiology", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Maths And logic", "MathsAndlogic", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Physics And Engeneering", "PhysicsAndEngeneering", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Social Science", "SocialScience", "BrowseCatalog", new { @class = "categories-links" })
        </div>
    </div>
</header>

<div class="main-area-for-course-form">
    <div class="filter-list">
        <ul>
            <li><a href="#">History</a></li>
            <li><a href="#">Linguistics and literature</a></li>
            <li><a href="#">Music and art</a></li>
            <li><a href="#">Philosophy</a></li>
        </ul>
    </div>