
@{
    ViewBag.Title = "SocialS cience";
    Layout = "~/Views/Shared/_CategoryPageLayout.cshtml";
}

<header class="header-catal" id="header-catalog-list">
    <div class="main-cont">
        <div class="catalog-list-div">
            @Html.ActionLink("Humanities and Fine Art", "HunanitiesAndFineArt", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Business", "business", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Computer Science", "ComputerScience", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Medicine And Biology", "MedicineBiology", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Maths And logic", "MathsAndlogic", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Physics And Engeneering", "PhysicsAndEngeneering", "BrowseCatalog", new { @class = "categories-links" })
            @Html.ActionLink("Social Science", "SocialScience", "BrowseCatalog", new { @class = "categories-links", @id = "humanities-highlight" })
        </div>
    </div>
</header>

<div class="main-area-for-course-form">
    <div class="filter-list">
        <ul>
            <li><a href="#">Economics</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Governance and Society</a></li>
            <li><a href="#">Law</a></li>
            <li><a href="#">Psychology</a></li>
        </ul>
    </div>


