@model IEnumerable<LEARNIT.Models.Course>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Home-LEARNIT";
}
<!-- Header -->

<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<!--Static right menu -->
<nav id="sidebar-wrapper" class="bar">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>LEARNIT</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>About</a>
        </li>
        <li>
            @Html.ActionLink("Browse Catalog", "ByCategory", "Course")
        </li>
        <li>
            <a href="#contacts-mark" onclick=$("#menu-close").click();>Contacts</a>
        </li>
    </ul>
</nav>
<!-- end Static right menu -->


<header id="main-header" class="header">
    <div class="text-vertical-center">
        <div class="main-cont" style="cursor: default;">
            <h1>LEARN WITH US</h1>
            <h2>Get knowledge, make friends, be a master.</h2>
            <span id="hello">
                <input type="text" class="search-query form-control" placeholder="What would you like to learn?" autocomplete="off" spellcheck="false" dir="auto" style="cursor:default"; />

            </span>
            <h3 class="browse-catalog-container">
                <span></span>
                <a class="browse-catalog-link" href="catalog.html">
                    <span>@Html.ActionLink("Browse Catalog.", "ByCategory", "Course")</span>
                </a>
            </h3>
            <a class="scroll-down icon-arrow-left" data-offset="-45" href="#about">
                <span class="hidden">Scroll Down</span>
            </a>
</div>
    </div>
</header>

<!-- About -->

<section id="about" class="about">
    <div class="container" id="main-about">
        <div class="my-about">
            <h2>About LEARNIT</h2>
            <p class="lead">LEARNIT is an awesome service that gives you an opportunity to be involevd in learning process with your teachers and your team more efficient and smooth! On LEARNIT you can find any courses to take! LEARNIT offers you all the nessesary tools to study. Make your life and study process better with LEARNIT! Get knowledge, make friends, be a master.</p>
            <!-- /.row -->
            <h1 style="vertical-align: middle; text-align:center">
                We offer <strong><a href="/course/ByName">@ViewBag.Message</a></strong> amazing courses created by our <strong><a href="/teacher">@ViewBag.Teachers</a></strong> high-level teachers  in <strong><a href="/course/ByCategory">@ViewBag.Categories</a></strong> areas
            </h1>

            <h2>
</div>
        <!-- /.container -->
    </div>
    <a class="scroll-down icon-arrow-left" id="about-scroll" data-offset="-45" href="#contacts-mark">
        <span class="hidden">Scroll Down</span>
    </a>
</section>




<footer id="main-footer">
    <hr />
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>
            CONTACT US 
            @*@Html.ActionLink("CONTACT US", "Index", "Home", null, new { @style = "text-decoration:none;" })*@
        </h2>
        <p>Moscow Kremlin<br>Russia</p>
        <ul class="list-unstyled" id="contacts-mark">
            <li>
                <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:vera_khatskevich@yahoo.com">vera_khatskevich@yahoo.com</a>
            </li>
        </ul>
        <br>
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/vera.khatskevich1"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.come/veralady"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="https://www.github.com/verakh"><i class="fa fa-dribbble fa-fw fa-1x"></i></a>
            </li>
        </ul>
        <p class="text-muted">Copyright LEARNIT 2015</p>
    </div>
</footer>