@model MVCtest.Models.UserProfileModel

@Html.ActionLink("Explore", "Catalog", "BrowseCatalog", routeValues: null, htmlAttributes: new { title = "Manage", @id = "menu", @class = "sign-up-btn" })

@*@Html.ActionLink("Your profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @id = "menu", @class = "sign-up-btn" })*@

<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<!--Static right menu -->
<nav id="sidebar-wrapper" class="bar">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            @Html.ActionLink("LEARNIT", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Edit Profile", "Create", "Profile")
        </li>

        <li>
            @Html.ActionLink("Browse Catalog", "Catalog", "BrowseCatalog")
        </li>
        <li>
            <a href="#contacts-mark" onclick=$("#menu-close").click();>Contacts</a>
        </li>
    </ul>
</nav>
<!-- end Static right menu -->
<!-- Header -->
<header id="header">
    <a href="#" class="image avatar"><img src="~/Content/images/avatar.jpg" />@Html.DisplayFor(m => m.Location)</a>
    <h1>I am<strong><a></a></strong></h1>

    <div class="vert-menu-course-name">
        <h1 class="user-name-area">
            <span class="user-full-name"><a></a></span>
            <span class="username">@Html.DisplayFor(m => m.InitialName)</span>
        </h1>
        <ul class="user-info">
            <li class="user-city">
                <span class="location-icon"></span>
                @Html.DisplayFor(m => m.Location)
                <a>
                </a>
            </li>
            <li class="data-detail">
                <span class="data-icon"></span>
                <span class="joined-data"></span>Joined on
                <time>@Html.DisplayFor(m => m.JoindDay)</time>
            </li>
        </ul>
    </div>

</header>


<!-- Main -->
<div id="main">

    <!-- One -->
    <section id="one">
        <header class="major">
            <h2>
                @Html.DisplayFor(m => m.Name)<br />

            </h2>
        </header>
        <p>@Html.DisplayFor(m => m.About)</p>
    </section>


    <!-- Two -->
    <section id="two">
        <h2>Your courses</h2>
        <div class="row">
            <article class="6u 12u$(xsmall) work-item">
                <a href="images/fulls/01.jpg" class="image fit thumb"><img src="~/Content/images/thumbs/01.jpg" alt="" /></a>
                <h3>Magna sed consequat tempus</h3>
                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
            </article>
            <article class="6u$ 12u$(xsmall) work-item">
                <a href="images/fulls/02.jpg" class="image fit thumb"><img src="~/Content/images/thumbs/02.jpg" alt="" /></a>
                <h3>Ultricies lacinia interdum</h3>
                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
            </article>
            <article class="6u 12u$(xsmall) work-item">
                <a href="images/fulls/03.jpg" class="image fit thumb"><img src="~/Content/images/thumbs/03.jpg" alt="" /></a>
                <h3>Tortor metus commodo</h3>
                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
            </article>
            <article class="6u$ 12u$(xsmall) work-item">
                <a href="images/fulls/04.jpg" class="image fit thumb"><img src="~/Content/images/thumbs/04.jpg" alt="" /></a>
                <h3>Quam neque phasellus</h3>
                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
            </article>
            <article class="6u 12u$(xsmall) work-item">
                <a href="images/fulls/05.jpg" class="image fit thumb"><img src="~/Content/images/thumbs/05.jpg" alt="" /></a>
                <h3>Nunc enim commodo aliquet</h3>
                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
            </article>
            <article class="6u$ 12u$(xsmall) work-item">
                <a href="images/fulls/06.jpg" class="image fit thumb"><img src="~/Content/images/thumbs/06.jpg" alt="" /></a>
                <h3>Risus ornare lacinia</h3>
                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
            </article>
        </div>
        <ul class="actions">
            <li><a href="#" class="button">Full Portfolio</a></li>
        </ul>
    </section>

</div>


<footer>
    <hr />
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>
            @Html.ActionLink("LEARNIT", "Index", "Home", null, new { @style = "text-decoration:none;" })
        </h2>
        <p>Moscow Kremlin<br>Russia</p>
        <ul class="list-unstyled" id="contacts-mark">
            <li>
                <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:vera_khatskevich@yahoo.com">vera_khatskevich@yahoo.com</a>
            </li>
        </ul>
        <br>
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/vera.khatskevich1"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.come/veralady"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="https://www.github.com/verakh"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
            </li>
        </ul>
        <p class="text-muted">Copyright LEARNIT 2015</p>
    </div>
</footer>